*{
    margin: 0;
    padding: 0;
}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}
.paragraph{
    font-size: 20px;
    line-height: 1.5;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.flexible-area{
    display: flex;
    flex-wrap: nowrap;
}
header {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
  url('images/donation5.jpg');
  background-size: cover;
  height: 100vh;
  color: whitesmoke;
  backdrop-filter: blur(8px);
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  color: white; 
  text-align: center; 
  align-items: center;
  justify-content: center;
  color:white;
}
.title .paragraph{
line-height: 1.6;
}
.hero-title{
    text-transform: capitalize;
    margin: 0;
    font-size: 5rem;
    white-space: nowrap;
}

button {
    padding: 15px;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    background-color: hsl(11deg 100% 62%);
    margin-top: 15px;
    font-size: 20px;
    cursor: pointer;
}
/* head section end */
.donate-amount{
    width: 100px;
    background-color: antiquewhite;
    border-radius: 10px;
    text-align: center;
    height: 100px;
    margin: 20px;
    flex: 1;
    justify-content: center;
    align-self: center;
    padding: 10px;
}
.donate-amount-style{
    border: 2px solid #df1717;
    background-color: #e7dbdb;
    color: #df1717;
}
.making-middle{
    position: relative;
    top: 40%;
    left: 0%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}
.align-item-center{
    text-align: center;
}
.title-styling{
    padding: 10px;
    font-size: 4rem;
}
.paragraph-style{
    font-size: 20px;
    line-height: 1.5;
    padding: 10px;
}
.align-item-center>hr{
    width: 600px;
}
/* New */
.flex{
    display: flex;
}
.title-style{
    font-size: 50px;
    font-family: ui-monospace;
    font-weight: 700;
}
.align-center{
    text-align: center;
}
.align-left{
    text-align:left
}
.donate-container{
    max-width: 1680px;
    margin: 0 auto;
}
.donate-plan {
    background-color: papayawhip;
    margin: 0 25px;
    padding: 3%;
}
.donate-flex{
    display: flex;
}
.donate-plan img {
    width: 80px;
    height: 80px;
}
.donate-plan:nth-child(1) {
    background-color: rgba(79, 157, 166, 0.1);
    ;
  }
.donate-plan:nth-child(2) {
    background-color: rgba(255, 89, 89, 0.1);
  }
.donate-plan:nth-child(3) {
    background-color: #FFF4D6;
  }
  .text-with-image {
    margin: 80px 20px 20px 0px;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.left-image img{
    width: 100%;
}
.right-image img{
    width: 100%;
}
.right-text {
    margin: 100px 20px 0px 0px;
}
.link-button {
    background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%)
}
.link-button{
    margin: 0px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    position:relative;
    top: 20px;
}
.link-button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.newsletter{
    width: 1150px;
    margin: 0 auto;
}

input, textarea{
    display: inline;
    width: 100%;
    padding: 0 20px;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 5px;
    height: 50px;
    line-height: 46px;
    margin-bottom: 20px;
    outline: none;
    color: #1f1f25;
    font-size: 15px;
    letter-spacing: .1px;
  }
  textarea{
      height: 120px;
  }
  .right-text-b {
    margin:0px 50px 0px 0px;
}
.title-style-creative{
    font-size: 60px;
    font-family: ui-monospace;
    font-weight: 700;
    margin: 20px 0px;
}
.footer-title{
    font-size: 30px;
    font-family: ui-monospace;
    font-weight: 700;
    margin: 15px; 
    color: #fff;
}
footer{
    text-align: center;
    background-color: #000000;
    padding: 20px;
    margin-top: 50px;
}
footer p{
    color: #fff;
}
.Signup{
    width: 60%;
    text-align: center;
}